*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

button{
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}